<h1>게시판</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<form action="/posts/create">
  제목 : <input type="text" name="title" />
  <p/>
  내용 : <textarea name="body"></textarea>
  <input type="hidden" />
  <input type="submit" value="입력" />
</form>
