<!--이미지 태그 만드는 법이 다르다, 이미지 저장 위치 sampleapp\app\assets\images-->
<!-- 이미지를 상대경로로 올리면 안되고 무조건 image_tag로 올려야 한다.-->
<%= image_tag "1.png" %>

<form action= "https://www.google.co.kr/search?">
  <input name="q" />
  <input type="submit" />
</form>
